In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_body = pd.read_csv("../data/StanceDetection/train_bodies.csv")
df_stance = pd.read_csv("../data/StanceDetection/train_stances.csv")

In [4]:
df_body

      Body ID                                        articleBody
0           0  A small meteorite crashed into a wooded area i...
1           4  Last week we hinted at what was to come as Ebo...
2           5  (NEWSER) – Wonder how long a Quarter Pounder w...
3           6  Posting photos of a gun-toting child online, I...
4           7  At least 25 suspected Boko Haram insurgents we...
...       ...                                                ...
1678     2528  Intelligence agencies hunting for identity of ...
1679     2529  While Daleks "know no fear" and "must not fear...
1680     2530  More than 200 schoolgirls were kidnapped in Ap...
1681     2531  A Guantanamo Bay prisoner released last year a...
1682     2532  ANN ARBOR, Mich. – A pizza delivery man in Mic...

[1683 rows x 2 columns]

In [5]:
df_stance

                                                Headline  Body ID     Stance
0      Police find mass graves with at least '15 bodi...      712  unrelated
1      Hundreds of Palestinians flee floods in Gaza a...      158      agree
2      Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3      HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4      Spider burrowed through tourist's stomach and ...     1923   disagree
...                                                  ...      ...        ...
49967  Urgent: The Leader of ISIL 'Abu Bakr al-Baghda...     1681  unrelated
49968  Brian Williams slams social media for speculat...     2419  unrelated
49969  Mexico Says Missing Students Not Found In Firs...     1156      agree
49970  US Lawmaker: Ten ISIS Fighters Have Been Appre...     1012    discuss
49971  Shots Heard In Alleged Brown Shooting Recordin...     2044  unrelated

[49972 rows x 3 columns]